<div id="logo"><br><br><br>
  Welcome <%= PLAYER.name %>
  <br><br><br>Please Select A Weapon</br>
  <link href='/css/application.css' rel='stylesheet' type='text/css'>
  <form id="high" action="/play" method="POST">
    <input class="myButton" type= "submit" name= "choice" value="Rock">
    <input class="myButton" type= "submit" name= "choice" value="Paper">
    <input class="myButton" type= "submit" name= "choice" value="Scissors">
  </form>
</div>
